  <div class="row h-80 container-fluid d-flex align-items-center">
    <div class="col-6 d-block mx-auto" >
      <ul class="nav nav-tabs text-center nav-tabs-rounded justify-content-center" >
        <li class="nav-item nav-item-rounded">
          <a class="nav-link nav-link-rounded active" data-toggle="tab" href="#volunteers">Voluntarios</a>
        </li>
        <li class="nav-item nav-item-rounded">
          <a class="nav-link nav-link-rounded" data-toggle="tab" href="#organizations">Organizaciones</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="volunteers">
          <div class="container-fluid d-block ml-auto rounded mx-4 ">
            <app-sign-up-volunteer></app-sign-up-volunteer>
          </div>
        </div>
        <div class="tab-pane" id="organizations">
          <div class="container-fluid d-block ml-auto rounded mx-4 nongrayscale">
            <app-sign-up-organization></app-sign-up-organization>
          </div>
        </div>
      </div>
    </div>
  </div>
