<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #signInUserForm="ngForm" class="my-4 px-3">
      <!-- Nombres completos -->
      <div class="row px-0">
        <div class="col-6">
          <div class="form-group">
            <label for="for" class="sr-only">Nombres</label>
            <input type="text" class="form-control" id="firstname" required [(ngModel)]="model.firstname" name="firstname" #firstname="ngModel"
              placeholder="Nombres">
            <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
              Por favor introduce tu(s) nombre(s)
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="for" class="sr-only">Apellidos</label>
            <input type="text" class="form-control" id="lastname" required [(ngModel)]="model.lastname" name="lastname" #lastname="ngModel"
              placeholder="Apellidos">
            <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
              Por favor introduce tu(s) apellido(s)
            </div>
          </div>
        </div>
      </div>
      <!-- Correo electrónico -->
      <div class="form-group">
        <label for="for" class="sr-only">Correo electrónico</label>
        <input type="email" class="form-control" id="email" required email [(ngModel)]="model.email" name="email" #email="ngModel"
          placeholder="Correo Electrónico">
        <small id="emailHelp" class="form-text text-muted text-right">No compartirémos tu correo con nadie más</small>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Debes escribir tu correo electrónico
        </div>
      </div>
      <!-- Contraseña -->
      <div class="form-group">
        <label for="password" class="sr-only">Contraseña</label>
        <input type="password" name="password" id="password" required minlength="8" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!#%*?&])[A-Za-z\d$@$!%*?&].{8,}"
          [(ngModel)]="model.password" #password="ngModel" name="password" class="form-control" placeholder="Contraseña">
        <small id="passwordHelp" class="form-text text-muted text-right">Por lo menos 8 caracteres 1 Mayuscula 1 Minuscula, un Entero y un caracter especial($ % & # - ...)</small>
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          Debes escribir una contraseña
        </div>
      </div>
      <!-- Confirmación de contraseña -->
      <div class="form-group">
        <label for="password-confirm" class="sr-only">Confirma tu contraseña</label>
        <input type="password" name="confirmPassword" [ngModel]="model.confirmPassword" required appConfirmEqualValidator="password"
          #confirmPassword="ngModel" class="form-control" placeholder="Confirma tu contraseña">
      </div>
      <!-- Cumpleaños -->
      <div class="form-group" [class.has-error]="birthday.touched && birthday.invalid">
        <div class="input-group">
          <input class="form-control" required [(ngModel)]="model.birthday" [minDate]="minDate" [maxDate]="maxDate" placeholder="Fecha de nacimiento"
            name="birthday" ngbDatepicker #d="ngbDatepicker" #birthday="ngModel">
          <div class="input-group-append bg-primary-app ">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar text-white"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Genero -->
      <div class="form-group" [class.has-error]="gender.touched && gender.invalid">
        <label for="gender" class="sr-only">Genero</label>
        <select class="custom-select" required [(ngModel)]="model.gender" name="gender" #gender="ngModel">
          <option [ngValue]="undefined" disabled selected hidden> Genero </option>
          <option *ngFor="let gender of genders" [value]="gender.value">
            {{ gender.viewValue }}</option>
        </select>
      </div>
      <!-- Número de celular -->
      <div class="form-group" [class.has-error]="celPhone.touched && celPhone.invalid">
        <label for="cel-phone" class="sr-only">Numero Celular</label>
        <input type="text" class="form-control" id="cel-phone" required [(ngModel)]="model.phone" name="celPhone" placeholder="Numero de celular"
          #celPhone="ngModel">
      </div>
      <!-- Nombre de usuario -->
      <div class="form-group" [class.has-error]="modelname.touched && modelname.invalid">
        <label for="modelname" class="sr-only">Nombre de Usuario</label>
        <input type="text" class="form-control" id="modelname" name="modelname" required [(ngModel)]="model.modelname" placeholder="Username"
          #modelname="ngModel">
      </div>
      <!-- Ciudad -->
      <div class="form-group" [class.has-error]="city.touched && city.invalid">
        <label for="city" class="sr-only">Ciudad</label>
        <select class="custom-select" required [(ngModel)]="model.city" name="city" #city="ngModel">
          <option [ngValue]="undefined" disabled selected hidden> Ciudad </option>
          <option *ngFor="let city of cities" [value]="city.value">
            {{ city.viewValue }}</option>
        </select>
      </div>
      <!-- Acepta -->
      <div class="form-group" [class.has-error]="accepts.touched && accepts.invalid">
        <div class="form-check d-block mx-auto" style="width: 17rem;">
          <input class="form-check-input" type="checkbox" value="accepts" id="accepts" name="accepts" #accepts="ngModel" [(ngModel)]="model.accepts"
            required>
          <label class="form-check-label text-white text-center" for="terms">
            Acepto
            <a href="">Términos y condiciones</a>
          </label>
        </div>
      </div>
      <!-- Botón de envio -->
      <div class="form-group">
        <button [disabled]="!signInUserForm.valid" type="submit" class="btn btn-primary-app d-block mx-auto text-center">Comenzar</button>
      </div>
      <!-- Inicio son redes sociales -->
      <hr>
      <div class="form-inline">
        <button class="d-block mx-auto btn btn-light text-center">
          <img src="/assets/icons/google_PNG19635.png" alt="google-icon" height="25rem">
          <small>Comenzar con Google</small>
        </button>
        <button class="d-block mx-auto btn btn-light text-center">
          <img src="/assets/icons/Facebook_logo_(square).png" alt="google-icon" height="25rem">
          <small>Comenzar con Facebook</small>
        </button>
      </div>
      <hr>
      <!-- Links -->
      <a routerLink="/sign-in" class="text-muted text-center d-block mx-auto">¿Ya tienes una cuenta?</a>
    </form>
  </div>
</div>
