

  <div class="full-page" id="login">
    <div class="row container-fluid py-3">
      <div class="col-6">
        <div class="tab-content">
          <div class="tab-pane active" id="volunteers">
            <div class="container-fluid d-block ml-auto float-container rounded mx-4 nongrayscale">
              <app-sign-in-user></app-sign-in-user>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <p class="text-white font-lobster text-center" id="welcome">¡Hola de nuevo!</p>
      </div>
    </div>
  </div>
