<div class="container">
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" #signInUserForm="ngForm" class="my-4 px-3">
        <p id="login-title" class="font-lobster text-center text-white">Comienza
          <br> Ahora</p>
        <!-- Correo electrónico -->
        <div class="form-group">
          <label for="" class="sr-only">Correo Electrónico</label>
          <input type="email" class="form-control" required email [(ngModel)]="model.email" #email="ngModel" placeholder="Correo Electrónico"
            name="email">
        </div>
        <!-- Contraseña -->
        <div class="form-group">
          <label for="" class="sr-only">Contraseña</label>
          <input type="password" class="form-control" required [(ngModel)]="model.password" #password="ngModel" placeholder="Ćontraseña"
            name="password" minlength="8" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!#%*?&])[A-Za-z\d$@$!%*?&].{8,}">

        </div>
        <!-- Links -->
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a routerLink="#" class="text-muted text-center">¿Olvidaste tu contraseña?</a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/sign-up" class="text-muted text-center">¿Aún no tienes una cuenta?</a>
          </li>
        </ul>
        <!-- Iniciar Sesión -->
        <div class="form-group">
          <button [disabled]="!signInUserForm.form.valid" class="btn btn-primary-app text-center d-block mx-auto">Iniciar Sesión</button>
        </div>
        <!-- Social login -->
        <hr>
        <app-social-links></app-social-links>
        <hr>
      </form>
    </div>
  </div>x
