<div class="full-height">
  <div id="slider-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#slider-carousel" data-slide-to="1"></li>
      <li data-target="#slider-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="fill" id="slide1" style="background-image: url(/assets/images/volunteering.jpeg);"></div>
        <div class="container">
          <div class="carousel-caption text-center bg-secondary-transparency w-50 d-block mx-auto">
            <h1 class="text-center text-white" style="font-weight: 900;">¡BIENVENIDO!</h1>
            <p class="text-center d-block mx-auto text-white" style="width: 40vw; font-weight: 600">Si quieres invertir o donar tu tiempo a causas que consideras justas
              <br> ¡Este es tu sitio!</p>
            <a routerLink="/sign-up" class="btn btn-primary-app">Registrate</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="fill" id="slide2" style="background-image: url(/assets/images/slide-1.jpg);"></div>
      </div>
      <div class="carousel-item">
        <div class="fill" id="slide3" style="background-image: url(/assets/images/volunteering.jpeg);"></div>
      </div>
    </div>
  
  </div>

  <div class="container-fluid row mt-5 d-flex align-items-center">
    <div class="col-4 p-3">
      <div class="fill rounded-circle d-block mx-auto" style="background-image: url(/assets/images/volunteering.jpeg);"></div>
    </div>
    <div class="col-4 text-center-justified">
      <p class="">
        Adipisicing deserunt aliqua voluptate commodo adipisicing aute ut anim consectetur. Id labore ullamco non amet mollit enim
        ullamco duis quis anim ut. Eu consectetur do incididunt velit.
      </p>
      <p>
        Duis eiusmod est esse id aute in amet laborum commodo consectetur ad. Veniam culpa irure elit pariatur eiusmod mollit nulla
        labore. Non consectetur deserunt ad incididunt eu enim aute nisi et. Proident excepteur elit anim mollit nisi aute
        excepteur occaecat do.
      </p>
    </div>
    <div class="col-4">
      <div class="fill rounded-circle d-block mx-auto" style="background-image: url(/assets/images/volunteering-2.jpg);"></div>
    </div>
  </div>