<h1 class="text-center font-lobster">Mis eventos ({{my_events.length}})</h1>
<app-loading [loading]="loading"></app-loading>
<div class="card my-2" *ngFor="let my_event of my_events">
  <a class="fas fa-times-circle position-absolute p-2 text-white
    " style="top: 0; right: 0; z-index: 1000;" id="unapply" [title]=" role === 'Voluntary' ? 'Ya no quiero estar aquí' : 'Eliminar evento'" (click)="((role === 'Voluntary') ? leaveEvent(my_events, my_event) : deleteEvent(my_events, my_event))">
  </a>
  <div class="card-img-top">
    <ngb-carousel *ngIf="getImages( my_event.files[0].url )">
      <ng-template ngbSlide *ngFor="let image of getImages( my_event.files[0].url )">
        <div class="carousel-fill" [style.background-image]="getBackground(image)"></div>
        <div class="carousel-caption rounded shadow-outside" style="background-color: rgba(248, 249, 250, 0.3); filter:alpha(opacity=20);">
          <h3 class="font-lobster text-center text-dark"> {{my_event.name}}</h3>
          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">
                <i class="fas fa-star"></i>
              </span>
              <i class="fas fa-star"></i>
            </span>
          </ng-template>
          <ngb-rating [(rate)]="my_event.organization.organization_score" max="5" [starTemplate]="t" [readonly]="true"></ngb-rating>
          <small class="text-ellipsis-1 text-dark text-center d-block mx-auto" style="width: 15vw">
            <strong class="text-info">Organiza: </strong>{{my_event.organization.firm}} </small>
          <small class="text-ellipsis-1 text-dark">
            <strong class="text-info">Fecha: </strong>
            <strong>{{my_event.start_datetime | date: 'd MMMM y' }}</strong>
          </small>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="card-block p-2 bg-dark" routerLink="/event-detail/{{my_event.id}}">
    <div class="row container fluid">
      <div class="col-3"></div>
      <div class="col-6">
        <h6 class="text-center text-white text-ellipsis-1 font-lobster bg-dark">Descripción</h6>
        <small class="text-muted text-ellipsis-5 text-center">{{my_event.description}}</small>
      </div>
      <div class="col-3">
        <small class="text-muted position-absolute" style="right: 0.5rem; bottom: 0.5rem;"> {{my_event.event_voluntaries.length}} / {{my_event.max_voluntaries}}</small>
      </div>
    </div>
  </div>
</div>
<div class="col-12 justify-content-center">
  <ngb-pagination [collectionSize]="max_pages*10" [(page)]="current_page" (pageChange)="getPage()"></ngb-pagination>
</div>