<form [formGroup]="voluntaryForm" (ngSubmit)="onSubmit()">
  <div *ngIf="!localUrl" class="position-relative border border-primary rounded-circle d-block mx-auto d-flex align-items-center justify-content-center mb-3"
    style="width: 12rem; height: 12rem">
    <input type="file" (change)="showPreviewImage($event)" class="image-uploader" [(ngModel)]="avatar" formControlName="avatar">
    <i class="fa fa-user fa-7x"></i>
  </div>
  <img [src]="localUrl" *ngIf="localUrl" class="image-previewer d-flex align-items-center justify-content-center mb-3 mx-auto">
  <a *ngIf="localUrl" class="text-secondary pr-3 float-right" (click)="localUrl = !localUrl">
    <i class="fa fa-exchange-alt"></i>
    <span class="sr-only">Cambiar imagen</span>
  </a>
  <div class="form-group">
    <label for="" class="d-block mx-auto sr-only">Ciudad</label>
    <select class="form-control" formControlName="municipality" [(ngModel)]="city" required>
      <option [ngValue]="undefined" disabled selected hidden> Ciudad </option>
      <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" formControlName="birthday" [minDate]="minDate" [maxDate]="maxDate" placeholder="Fecha de nacimiento"
        name="date" ngbDatepicker #d="ngbDatepicker" required>
      <div class="input-group-append bg-primary-app ">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <i class="fa fa-calendar text-white"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="d-block mx-auto sr-only">Genero</label>
    <select class="form-control" formControlName="gender" [(ngModel)]="gender" required>
      <option [ngValue]="undefined" disabled selected hidden> Genero </option>
      <option *ngFor="let gender of genders" [value]="gender.id">{{gender.gender}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="" class="d-block mx-auto sr-only">Número Celular</label>
    <input type="number" class="form-control" formControlName="cellphone" placeholder="Número de celular" required>
  </div>
  <div formArrayName="themes">
    <div *ngFor="let interest_theme of themes.controls; let i=index" [formGroupName]="i">
      <div class="form-group">
        <label for="" class="sr-only"></label>
        <div class="input-group mb-3">
          <select class="form-control" formControlName="theme_name" [(ngModel)]="interesting[i]" required>
            <option [ngValue]="undefined" disabled selected hidden> Temas de interés </option>
            <option *ngFor="let interest of interests" [value]="interest.id">{{interest.themesinterest}}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-danger" type="button" (click)="deleteTheme()">
              <i class="fa fa-times-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group text-right">
    <button type="button" class="btn btn-outline-info" (click)="addTheme()">Agrega un tema de interes</button>
  </div>
  <div class="form-group text-center">
    <button type="submit" [disabled]="!voluntaryForm.valid &&  !(voluntaryForm.value.themes.length > 0)" class="btn btn-primary-app">Terminar</button>
  </div>
</form>

