<div class="full-page" id="sign-up">
  <div class="row container-fluid py-3">
    <div class="col-6">
      <p class="text-white font-lobster" id="welcome">¡Bienvenido!</p>
    </div>
    <div class="col-6">
      <ul class="nav nav-tabs text-center nav-tabs-rounded" >
        <li class="nav-item nav-item-rounded">
          <a class="nav-link nav-link-rounded active" data-toggle="tab" href="#volunteers">Voluntarios</a>
        </li>
        <li class="nav-item nav-item-rounded">
          <a class="nav-link nav-link-rounded" data-toggle="tab" href="#organizations">Organizaciones</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="volunteers">
          <div class="container-fluid d-block ml-auto float-container rounded mx-4 nongrayscale">
            <app-sign-up-user></app-sign-up-user>
          </div>
        </div>
        <div class="tab-pane" id="organizations">
          <div class="container-fluid d-block ml-auto float-container rounded mx-4 nongrayscale">
            <app-sign-up-org></app-sign-up-org>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
