<div class="full-height p-2">
  <div class="row container-fluid">
    <div class="col-6 py-3">
      <img src="{{getAvatar(user.user.image.url)}}" alt="avatar" class="border border-secondary rounded-circle d-block mx-auto mb-3"
        height="200" width="200">
      <h3 class="text-center">
        <b class="font-lobster">{{user.user.username | titlecase}}</b>
        <br>
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">
              <i class="fas fa-star"></i>
            </span>
            <i class="fas fa-star"></i>
          </span>
        </ng-template>
        <ngb-rating [(rate)]="user.data.voluntary_score" max="5" [starTemplate]="t" [readonly]="!editing"></ngb-rating>
      </h3>
      <small class="font-lobster text-center d-block mx-auto mb-2">Tienes disponibles {{user.user.points_day}} puntos hoy</small>
      <div class="form-group">
        <label for="" class="sr-only">Nombres</label>
        <input type="text" class="form-control text-center" placeholder="{{user.user.name}}" name="firstname" disabled="!editing">
      </div>
      <div class="form-group">
        <label for="" class="sr-only">Correo</label>
        <input type="text" class="form-control text-center" placeholder="{{user.user.email}}" name="email" disabled="!editing">
      </div>
      <div class="form-group">
        <label for="" class="sr-only">Cumpleaños</label>
        <input type="text" class="form-control text-center" placeholder="{{user.data.birthday | date:'EEEE, dd MMMM yyyy'}}" name="birthday"
          disabled="!editing">
      </div>
      <div class="form-group">
        <label for="" class="sr-only">Genero</label>
        <input type="text" class="form-control text-center" placeholder="{{user.data.gender.gender}}" name="gender" disabled="!editing">
      </div>
      <div class="form-group">
        <label for="" class="sr-only">Numero de celular</label>
        <input type="number" class="form-control text-center" placeholder="{{user.data.cellphone}}" name="cellphone" disabled="!editing">
      </div>
      <h5 class="font-lobster text-center text-secondary">Mis temas de interés</h5>
      <ul class="list-inline text-center">
        <li class="list-inline-item" *ngFor="let interest_theme of user.data.theme_interests"><span class="badge badge-pill badge-warning">{{interest_theme.themesinterest}}</span></li>
      </ul>

    </div>
    <div class="col-6 overflow-scroll vh-90">
        <app-my-events></app-my-events>
    </div>

  </div>
</div>