<div class="full-height p-2">
  <img src="{{user.avatar}}" alt="avatar" class="border border-secondary rounded-circle d-block mx-auto" height="200" width="200">
  <div class="row px-0">
    <div class="col-6">
      <label for="" class="sr-only">Nombre</label>
      <input type="text" class="form-control" placeholder="{{user.firstname}}" name="firstname" disabled="!editing">
    </div>
    <div class="col-6">
      <label for="" class="sr-only">Nombre</label>
      <input type="text" class="form-control" placeholder="{{user.lastname}}" name="lastname" disabled="!editing">
    </div>
  </div>
</div>