<div class="full-height">
  <div class="row container-fluid">
    <div class="col-6 py-3">
      <img src="{{getAvatar(user.user.image.url)}}" alt="avatar" class="border border-secondary rounded-circle d-block mx-auto mb-3"
        height="200" width="200">
      <h3 class="text-center">
        <b class="font-lobster">{{user.user.username | titlecase}}</b>
        <br>
        <small class="text-secondary">{{user.data.firm}}</small>
        <br>
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">
              <i class="fas fa-star"></i>
            </span>
            <i class="fas fa-star"></i>
          </span>
        </ng-template>
        <ngb-rating [(rate)]="user.data.organization_score" max="5" [starTemplate]="t" [readonly]="!editing"></ngb-rating>
      </h3>
      <small class="font-lobster text-center d-block mx-auto mb-2">Tienes disponibles {{user.user.points_day}} puntos hoy</small>
      <div class="form-group">
        <label for="" class="sr-only">Nombres</label>
        <input type="text" class="form-control text-center" placeholder="{{user.user.name}}" name="firstname" disabled="!editing">
      </div>
      <div class="form-group">
        <label for="" class="sr-only">Correo</label>
        <input type="text" class="form-control text-center" placeholder="{{user.user.email}}" name="firstname" disabled="!editing">
      </div>
    </div>
    <div class="col-6 vh-90 overflow-scroll">
      <app-my-events></app-my-events>
    </div>
  </div>
</div>