<div class="full-height ">
  <div class="row container-fluid full-height my-3" id="wrapper">
    <div class="col-lg-8" id="posts">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header bg-info" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="mb-0">
              <b class="float-left mt-2 text-white">
                <i class="fas fa-bullhorn"></i> Anuncios
              </b>
              <button class="btn btn-info float-right" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-minus-circle float-right"></i>
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Echa un vistazo!</strong> Hay nuevos eventos.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="alert alert-dark alert-dismissible fade show" role="alert">
                <strong>Echa un vistazo!</strong> Hay nuevos foros.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-warning" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseOne">
            <h5 class="mb-0">
              <b class="float-left mt-2">
                <i class="far fa-file-alt"></i> Foros
              </b>
              <button class="btn btn-warning float-right" routerLink="/new-forum">
                <i class="fas fa-plus-circle float-right"> Crear un foro </i>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body vh-90 overflow-scroll">
              <app-forums></app-forums>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 border-left text-center search-results" id="events" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()" [scrollWindow]="false">
      <app-available-events></app-available-events>
    </div>
  </div>
</div>


<script>
  var parent = document.getElementById('wrapper');
  var child = document.getElementById('events');
  child.style.paddingRight = child.offsetWidth - child.clientWidth + "px";
</script>