<div class="full-height text-center ">
    <div class="row container-fluid full-height my-3" id="wrapper">
        <div class="col-lg-8" id="posts">
            <nav aria-label="Page navigation" class="position-absolute d-flex justify-content-center" style="bottom: 0; left: 0; right: 0;">
                <ul class="pagination ">
                    <li class="page-item">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-4 border-left text-center search-results" id="events" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()" [scrollWindow]="false">
            <div class="border border-warning rounded my-2" style="width: 100%" *ngFor="let event of events">
                <div class="row container-fluid my-2" style="width: auto !important;">
                    <div class="col-lg-3">
                        <div class="event-fill border border-secondary rounded-circle my-2" style="background-image: url( {{event.image}} )"></div>
                    </div>
                    <div class="col-lg-9">
                        <div class="event-description">
                            <p class="event-name mb-1">{{event.name}}</p>
                            <p class="event-content mb-1">
                                {{event.description}}
                            </p>
                            <ul class="list-inline d-block ml-auto text-right mb-1">
                                <li class="list-inline-item event-link">Comentar</li>
                                <li class="list-inline-item event-link">Compartir</li>
                                <li class="list-inline-item event-link">Ver más</li>
                                <li class="list-inline-item event-link">
                                    <i class="fa fa-paper-plane rounded-circle bg-primary-app p-2 text-white" aria-hidden="true"></i>
                                    <span class="sr-only"> Aplicar</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--             <nav aria-label="Page navigation" class="position-absolute d-flex justify-content-center" style="bottom: 0; left: 0; right: 0;">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav> -->
        </div>
    </div>
</div>

<script>
    var parent = document.getElementById('wrapper');
    var child = document.getElementById('events');
    child.style.paddingRight = child.offsetWidth - child.clientWidth + "px";
</script>