  <div class="full-height">
    <div class="row container-fluid">
      <div class="col-4 border-rigth border-dark">

        <div class="card vh-90 ">
          <div class="card-header">
            <h4 class="font-lobster text-center">Dashboard</h4>
          </div>
          <div class="card-body overflow-scroll vh-90">
            <div class="text-center" [ngBusy]="{busy: busy, message: 'cargando...', backdrop: false, delay: 200, minDuration: 600}">
              <i *ngIf="showSpinner" class="fas fa-spinner fa-pulse"></i>
            </div>
            <div *ngIf="chart1" class="border border-warning rounded p-2 my-2" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <canvas id="canvas1">{{ chart1 }}</canvas>
            </div>
            <div *ngIf="chart2" class="border border-warning rounded p-2 my-2" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <canvas id="canvas2">{{ chart2 }}</canvas>
            </div>
            <div *ngIf="chart3" class="border border-warning rounded p-2 my-2" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <canvas id="canvas3">{{ chart3 }}</canvas>
            </div>
          </div>
          <div class="card-footer text-muted">
            Footer
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card  vh-90">
          <div class="card-header">
            <h4 class="font-lobster text-center">Mis eventos</h4>
          </div>
          <div class="card-body card-body overflow-scroll vh-90">
            <ul class="list-group" *ngFor="let event of my_events">
              <li class="list-group-item my-1 alert alert-warning border-right-0 border-left-0" routerLink="/event-detail/{{event.id}}" style="cursor: pointer;">{{event.name}}<button type="button" class="btn btn-outline-warning ml-auto float-right"><i class="fas fa-eye"></i></button></li>
            </ul>
            <button type="button" class="btn btn-warning rounded-circle text-white position-absolute" routerLink="/new-event" style="bottom: 2rem; right: 1rem; box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          <div class="card-footer text-muted">
            Footer
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card vh-90">
          <div class="card-header">
            <h4 class="font-lobster text-center">Voluntarios en mis eventoss</h4>
          </div>
          <div class="card-body">
          </div>
          <div class="card-footer text-muted">
            Footer
          </div>
        </div>
      </div>
    </div>

  </div>
